3
asgiref
beautifulsoup4
certifi
chardet
cloudinary
confusable-homoglyphs
dj-database-url
Django
django-bootstrap4
django-crispy-forms
django-heroku
django-registration
django-six
django-tinymce
djangorestframework
django-urls
django-utils
django-utils-six
gunicorn
idna
importlib-metadata
Pillow
psycopg2
python-decouple
pytz
requests
six
soupsieve
sqlparse
typing-extensions
urllib3
whitenoise
zipp
