{% extends 'base.html' %}
{% block content %}
<br>
<style>
    .container-fluid {
        margin-left: 5%;
        margin-right: 5%;

    }
</style>
<div class="container-fluid">
    <div class="row">

        {% for neighborhood in neighborhoods %}
        <div class="col-lg-4">
            <div
                style="background-color: rgb(250, 246, 246);box-sizing: border-box; margin-top:2%;box-shadow: 0vh 0vh 1vh gainsboro;">
                <div class="row" style="padding-top: 1%">
                    <div class="col-md-12">
                        <h4 style="font-weight:600; color: rgb(59, 58, 58);">neigborhood: <a style="color:rgb(48, 45, 45);" href="{% url 'view_neigborhood' id=neigborhood.id %}" class="text-right"
                                style="text-decoration: none;">{{neigborhood.neigborhood_name}}
                                
                            </a></4>

                    </div>
                </div>
                <div class="row" style="font-size:10pt;">
                    <div class="col-md-6" style="padding-bottom: 2%;font-weight:600;"> Location: {{neigborhood.neigborhood_location}}
                    </div>
                </div>
                <div class="">
                    <a href="{% url 'view_neigborhood' id=neigborhood.id %}">
                        <img src="{{neigborhood.neigborhood_photo.url}}" class="img-responsive" alt="{{image.neigborhood_name}}"
                            style="width:100%;width:100%">
                        <div class="overlay">
                        </div>
                    </a>
                </div>


                <div style="padding-top:1%;padding-bottom:1%">
                  <br>
                    {%if request.user.profile.neighborhood == neighborhood %}

                    <a class="btn btn-danger" href="{%url 'leaveneighborhood' neighborhood.id%}">Exit the Hood</a>

                    {%elif not request.user.profile.neighborhood%}

                     <br>
                    <a class="btn btn-success" href="{%url 'joinneighborhood' neighborhood.id%}">Join the Hood</a>

                    {%endif%}
                </div>

            </div>
        </div>

        {% endfor %}


    </div>
</div>

{% endblock %}