{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="">
  <div class="container-fluid" >
    <div class="container  add" >
      <a style="font-size: 15px;" href="{% url 'new-hood' %}" class="btn btn-sm btn-info mb-2">Add New Neighbourhood</a>
    </div>
    <div class="row">
    {% for hood in all_hoods %}
      <div class="col-md-4">
        <div class="card mb-4 index-hood" style="height:420px">
          <h5 class="card-title" style="font-size: 18px;" >{{ hood.name }} ({{hood.location}}) <span class="ml-4"style="font-size: 18px;">{{hood.members.count}}
              member{{hood.members.count|pluralize}}</span></h5>
          <img src="{{ hood.neighbourhood_logo.url }}" class="card-img-top" alt="{{ hood.name }}" height="250px">
          <div class="card-body">

            <p class="card-text" style="font-size: 12px; color: black;">{{hood.description}}</p>
            {% if request.user.profile.neighbourhood == hood %}
            <a href="{% url 'leave-hood' hood.id %}" class="btn btn-outline-danger btn-sm">Leave Neighbourhood</a>

            <a href="{% url 'single-hood' user.profile.neighbourhood.id %}" class="btn btn-outline-primary btn-sm"
              style="float: right; font-size: 10px;">Checkout {{user.profile.neighbourhood.name}} 
            </a>
            {% elif not request.user.profile.neighbourhood %}
            <a href="{% url 'join-hood' hood.id %}" class="btn btn-info btn-sm">Join Neighbourood</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>


{% endblock %}
